.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: #d9e8ee;
}

.main {
  margin-top: 6rem;
  min-height: 100%;
}

.container {
  max-width: 40rem;
  width: 20rem;
  max-height: auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 1rem;
  border-radius: 0.4rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-control input {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 4px 6px;
  border-radius: 3px;
}

.form-control input:focus,
.form-control input:active {
  outline: 1px solid rgba(0, 0, 0, 0.4);
}

.controls {
  display: flex;
  justify-content: space-between;
}

.controls button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background: #cddce9;
  transition: all 0.3s ease-in-out;
}

.controls button:hover,
.controls button:active {
  background: #b2c5f1;
}

.list {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-transform: capitalize;
}

.list label {
  display: flex;
  gap: 8px;
}

.sort {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.sort:focus,
.sort:active {
  outline: 1px solid rgba(0, 0, 0, 0.4);
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 3px;
  background: #e1e5ee;
  transition: all 0.3s ease-in-out;
}

.list-item:hover {
  background: #cdd7ee;
}

.todo-desc {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.close {
  font-size: 1rem;
  color: #e66969;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.close:hover {
  color: #d44949;
  transform: scale(1.1);
}
